body{
    font-style: italic;
}

.seccion-texto{
    background-color: blue;
}

.mostrar{
    display:block;
}

.ocultar{
    display:none;
}

.resaltado{
    background-color: lightblue;
}

.noresaltado{
    background-color: none;
}